<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IHumanitarianPublicationServices" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:54914/HumanitarianPublicationServices.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHumanitarianPublicationServices"
                contract="HumanitarianPublicationServices.IHumanitarianPublicationServices"
                name="BasicHttpBinding_IHumanitarianPublicationServices" />
        </client>
    </system.serviceModel>
</configuration>